:root {
  --spacing-xxs: 0.5rem;
  --spacing-xs: 0.75rem; /* 10px */
  --spacing-sm: 0.875rem; /* 14px */
  --spacing-base: 1rem; /* 16px */
  --spacing-lg: 1.125rem; /* 18px */
  --spacing-xl: 1.5rem; /* 24px */
  --spacing-2xl: 2rem; /* 32px */
  --spacing-3xl: 3rem; /* 48px */

  --radius-sm: 2px;
  --radius-base: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-full: 9999px;
}
