.hero-section {
  padding: 1rem;
  margin: 1rem;
}
.hero-section h1 {
  font-size: var(--text-3xl);
  font-weight: 700;
}
.hero-section p {
  margin-top: 0.5rem;
}
.component-showcase {
  margin: 1rem;
  margin-block: 3rem;
}
.component-showcase h2 {
  font-size: var(--text-xl);
  font-weight: 500;
  border-bottom: 1px dashed rgba(var(--neutral-color), 1);
  padding: 0.5rem 1rem;
  border: 1px dashed rgba(var(--neutral-color), 1);
  border-bottom: none;
  width: fit-content;
}

.component-variant-wrapper {
  padding: 1rem;
  border: 1px dashed rgba(var(--neutral-color), 1);
}
.component-showcase .variant-container > h3 {
  color: rgba(var(--secondary-color), 1);
  border-left: 1px dashed rgba(var(--neutral-color), 1);
  padding-inline: 0.5rem;
  font-size: var(--text-lg);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

/* INPUT */
.input-showcase .component-variant-wrapper .variant-container {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .hero-section h1 {
    font-size: var(--text-2xl);
  }
  .component-showcase h2 {
    font-size: var(--text-lg);
  }
  .component-showcase .variant-container > h3 {
    font-size: var(--text-md);
  }
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
