<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./input.css" />
    <link rel="stylesheet" href="/components/Button/button.css" />

    <script>
      fetch("/layout/head.html")
        .then((response) => response.text())
        .then((data) => {
          document.head.innerHTML += data;
        });
    </script>
    <title>Input</title>
  </head>
  <body>
    <div class="component-container">
      <div class="input-container">
        <label for="input">Name</label>
        <input type="text" id="input" required minlength="3" />
        <p class="input-error">Name must be more than 3 letters</p>
      </div>
    </div>
  </body>
</html>
