<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./button.css" />
    <script>
      fetch("/layout/head.html")
        .then((response) => response.text())
        .then((data) => {
          document.head.innerHTML += data;
        });
    </script>
    <title>Button</title>
  </head>
  <body>
    <div class="component-container buttons-container">
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <button class="btn btn-outline">Outline</button>
      <button class="btn btn-outline" disabled>Disabled</button>
      <button class="btn btn-link">Text Button</button>
      <!-- <button class="btn btn-success">Success</button>
      <button class="btn btn-warning">Warning</button> -->
      <button class="btn btn-error">Error</button>
      <button class="btn btn-outline btn-rounded">Rounded</button>
      <button class="btn btn-primary btn-sm">Small</button>
      <button class="btn btn-primary btn-medium">Medium</button>
      <button class="btn btn-primary btn-lg">Large</button>
    </div>
  </body>
</html>
